@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
$font-size: 16px;
$background: #111;
$animation-timing: 0.3s;
$gradient: linear-gradient(
  to right bottom,
  rgba(#00b09b, 0.75),
  rgba(#96c93d, 0.88)
);
$border-radius: 7px;
:root {
  --font-size: 16px;
  --color-primary: #f6f7fb;
  --color-secondary: #111;
  --color-tertiary: #fdc500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@import "./utils";
@import "./typography";
@import "./animation";
@import "./header";
@import "./nav";
